/* 
    Created on : Mar 16, 2017, 12:19:45 PM
    Author     : pstaeuble
*/
header {
    position: fixed;
    top:0;
    width: 100%;
}

#heading {
	margin: auto;
	margin-top: 150px;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 2px;
	color: white;
	width: 30%;
	background: #00488d;
	text-align: center;
	box-sizing: border-box;
	padding: 5px 0px;
}
form {
	margin: auto;
	box-sizing: border-box;
    background-color: #f2f2f2;
    width: 30%;
	padding: 20px 60px 20px 60px;
    border: 4px solid #00488d;
    
}
label {
color: #00488d;
font-weight: bold;
text-decoration: underline;
float: left;
}


input[type=text], select {
position: center;
    padding: 12px 20px;
    margin: 8px 0px;
	margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	width: 100%;
	
}

input[type=submit] {
    background-color: #00488d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	width: 100%;
}

input[type=submit]:hover {
    background-color: #ffc220;
}

footer{
    position: fixed;
    bottom:0;
    width: 100%;
}
#validate{
	margin-top: 150px;
	text-align: center;
}
